<link rel="stylesheet" href="/components/feed/feed.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<main id="pageAllContent">
    <header id="feedHeader">
        <div id="feedLogoContent">
            <img id="feedLogo" src="imgfeed/logo-eslogan.png" alt="Logotype">
        </div>
        <nav id="feedGeneralSearch">
            <input type="text" id="inputSearch" placeholder="Buscar">
            <div id="searchContent"><span class="material-symbols-search">search</span></div>
        </nav>
        <span class="material-symbols-outlined">move_item</span>
    </header>
    <section id="feedAllContent">
        <aside id="feedAside">
            <div id="feedMenu"><span class="material-symbols-menu">
                    menu
                </span>
                <select class="menuSelects">
                    <option value="opcion1">Perfil</option>
                    <option value="opcion2">Risoterapia</option>
                    <option value="opcion3">Adopciones</option>
                    <option value="opcion4">Servicios</option>
                    <option value="opcion5">Pet S.O.S</option>
                    <option value="opcion6">Configuración</option>
                </select>
            </div>
            <section id="feedProfile">
                <div id="feedProfileImageContent"><img id="feedProfileImage" src="imgfeed/perfilFoto.jpg"
                        alt="Foto de perfil"></div>
                <h2 id="feedNameProfile">Liliana Vega</h2>
                <h3 id="feedWelcome">¡Bienvenid@!</h3>
                <p id="feedIntroduction">En <span class="feedNameLogo">Pet Lovers...</span>
                    puedes encontrar el contenido que necesitas, visita nuestras categorías donde podrás buscar o
                    encontrar a tu
                    mascota
                    perdida, reírte de los reyes del hogar o encontrar u ofrecer servicios relacionados.
                </p>
            </section>
        </aside>
        <section id="feedScroll">
            <div id="randomImages">
                <p id="adoptionLetter">Y si adoptas un nuevo mejor amigo? Por fis...</p>
                <div class="randomAbeja"><img id="randomAbeja" src="imgfeed/abejita.png" alt="Abejita"></div>
                <div class="randomDog"><img id="randomDog" src="imgfeed/perritove.png" alt="Perrito"></div>
            </div>
            <section id="newPost">
                <h4 class="newPost">Crear nueva publicación</h4>
                <br>
                <input type="text" id="feedNewPost" placeholder="Cuéntanos,  ¿Qué quieres compartir?...">
                <div class="botones">
                    <select id="feedcategory">
                        <option value="" disabled selected>Categorías</option>
                        <option value="risoterapia" id="risoterapia">Risoterapia</option>
                        <option value="adopciones" id="adopciones">Adopciones</option>
                        <option value="servicios" id="servicios">Servicios</option>
                        <option value="petSos" id="petSos">Pet S.O.S</option>
                    </select>
                    <button id="publish" type="submit">Publicar</button>
                    <button id="cancel" type="submit">Cancelar</button>
                </div>
            </section>
            <section id="firstPost">
                <h5>Liliana Vega</h5>
                <p>Hola!, soy amante de los animales, mi pasatiempo favorito es pasear a Tobby, es un perro muy
                    juguetón
                    y le encanta compartir con otros amigos peludos. Queremos hacer nuevos amigos!</p>
                <div id="likeEditDelete">
                    <span class="material-symbols-like">favorite</span>
                    <span class="material-symbols-edit">edit_square</span>
                    <span class="material-symbols-delete">delete</span>
                </div>
            </section>
            <section id="secondPost">
                <h5>Javier Montes</h5>
                <p>Qué taaaaaaaal?!!!!Con la novedad que llevaba dos horas buscando a Luca por toda la casa, mi
                    esposa
                    ya estaba inconsolable y después de rendirnos y tumbarnos en el sillón, nos topamos con el
                    maullido
                    de Luca y oh, sorpresa!, lo vemos saliendo de los cojines jaja.</p>
                <div id="likeEditDelete">
                    <span class="material-symbols-like">favorite</span>
                    <span class="material-symbols-edit">edit_square</span>
                    <span class="material-symbols-delete">delete</span>
                </div>
            </section>
            <section id="thirdPost">
                <h5>Brenda Santander</h5>
                <p>Buen día!, un lorito llegó al patio de mi abuelita, creemos que es de alguién cercano, mi
                    abuelita
                    vive en Toluca de Lerdo, Estado de México.</p>
                <div id="likeEditDelete">
                    <span class="material-symbols-like">favorite</span>
                    <span class="material-symbols-edit">edit_square</span>
                    <span class="material-symbols-delete">delete</span>
                </div>
            </section>
        </section>
    </section>
</main>