@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@500&display=swap');
body{
    height: 100%;
    margin: 0;
    font-family: 'Arial';
    background-color: #fafafa;
}
.fondo-naranja {
    background-color: #F39F25;
}
/* --------------------- Definicion de tamaños de letra --------------------- */
.text-small {
    font-size: small;
    font-weight: bold;
}
.text-medium {
    font-size: medium;
}
.text-large{
    font-size: larger;
}
.text-title{
        color: #333333;
        font-size: 25px;
        font-weight: 500;
        margin: 5px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.text-color-white{
color: #ffffff;
font-size: 18px;
margin: 10px 10px;
}
.text-color-orange{
    color: #CD3B32;
}

.manita{
    cursor: pointer;
}




/* -------------------------------------------------------------------------- */
/*                                Clases Login                                */
/* -------------------------------------------------------------------------- */

.l-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.l-container{
    width: 800px;
    height: 100%;
    min-height: 550px;
    display: flex;
    padding: 80px;
    
}

.l-container-login{
width: 500px;
display: flex;
flex-direction: column;
background-color: #fff;
text-align: center;
padding-top: 6em;
box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
border-radius: 20px 0px 0px 20px;
gap: 0.5em;
}

.l-container-form{
    display: flex;
    flex-direction: column;
    margin: 0em 3em 3em 3em;
}

.l-container-informacion{
 max-width: 400px;
padding: 60px 10px;
text-align: center;
/* background: rgba(243, 237, 206, 0.33); */
background: #FFA500;
box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
border-radius: 0px 20px 20px 0px;
}
img{
    max-width: 300px;
}
.imgResponsive{
 display:none;
}
.l-input-with-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}

.l-input-with-icon i {
    position: absolute;
    right: 5px; /* Ajusta el valor según sea necesario */
    top: 50%;
    transform: translateY(-50%);
}

.l-input-with-icon input {
    /* padding-right: 30px; Ajusta el valor según sea necesario */
    border: none;
    border-bottom: 1px solid #B8B8B8;
    outline: none;
    font-size: medium;
    width: 100%; /* Establece el ancho al 100% del contenedor */

}

.fa-user:before {
    background-color: #fafafa;
}

.l-titulo-info{
    color: #fff;
}
.l-button-login{
mix-blend-mode: normal;
border-radius: 50px;
width: 180px;
height: 50px;
left: 115px;
top: 579px;
margin-bottom: 30px;
font-size: medium;
border:  #CD3B32 solid 1px;
    background-color:  #CD3B32;
    color: #FFFFFF;
  

}

.l-button-login:hover {
    background-color: #9e2721;

    border: none;
 color: #FFFFFF;
    cursor: pointer;
}

p#messageError {
    min-height: 15px;
}

@media only screen and (max-width: 800px) {
    .l-container-informacion {
      display: none;
    }

    
    .l-container-login{
        width: 350px;
        height: 600px;
        padding-top: 3em;
        border-radius: 20px 20px 20px 20px;
    }

    .imgResponsive{
        display:block;
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
      

       }
    .text-title{
        padding-bottom: 0px !important;    }
  }



/* -------------------------------------------------------------------------- */
/*                                Clases feed                                */

/* -------------------------------------------------------------------------- */


/* se modificó header */

@media only screen and (min-width: 20px) {

    body#bodyApp {
     /*    background-image: url(img/image-huella-naranja.png); */
        background-color: rgba(250, 235, 215, 0.655);
        
    }

#pageAllContent {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

#feedHeader {
    width: 100%;
    height: 60px;
    background-color: #f39f25;
    border-top: 3px solid #f39f25;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid #CD3B32;
}

#feedLogoContent {
    width: 10%;
}

img#feedLogo {
    width: 100px;
    height: 55px;
    background: cover;
    margin: 0%;
    display: flex;
    align-items: center;
    filter: brightness(100%);
    padding:0 10px;
}

nav#feedGeneralSearch {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

#searchContent {
    width: 15%;
    height: 100%;
    background-color: #CD3B32;
    border: 1px solid #CD3B32;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input#inputSearch {
    width: 85%;
    height: 100%;
    background-color: rgba(255, 235, 205, 0.797);
    border-radius: 4px 0 0 4px;
    border: none;
}

span.material-symbols-search {
    color: aliceblue;
    font-family: 'Arial';
    font-size: 20px;
}

span.material-symbols-outlined {
    padding: 5px;
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    filter: brightness(100%);
    cursor: pointer; 
}

#feedAllContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color:  rgb(250, 235, 215);
}

#feedAside {
    width: 30%;
    height: auto;
    background-color:  rgb(250, 235, 215);
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    }

#feedMenu {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: end;
    padding: 5px 0 5px 0;
    margin: 5px 0 10px 0;
}

span.material-symbols-menu {
    padding: 5px; 
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 30px;
    color: #CD3B32; 
}

#feedProfile {
    width: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#feedProfileImageContent {
    width: 90%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;  
}

#feedProfileImage {
   width: 100%;
   height: 100%;
    object-fit: cover;
    object-position: center;
}


#feedNameProfile {
    margin: 10px 10px;
    font-size: 25px;
    text-align: center;
}

.feedNameLogo {
    color: #CD3B32;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 400;
}

#feedIntroduction {
    width: 75%;
    height: auto;
    text-align: center;
    margin: 10px 10px;
}

section#feedScroll {
    width: 97%;
    min-height: 2000px;
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgba(250, 235, 215, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
    /* box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2), 5px 0 5px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2); */
    
}

div#feedScrollContent {
    width: 95%;
    margin: 0 0 50px 0;
}

section#newPost {
    width: 95%;
    height: auto;
    background-color:#f3a1257e;
    border-radius: 8px;
    margin: 15px 0 10px 0;
    /* padding: 10px 10px; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#feedScrollContent textarea {
    border: none;
    background-color: #ffffff33;
    width: 98%;
    min-height: 100px;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    font-family:'Arial';
    /* font-weight: bold; */
    margin: 10px 5px;
    box-sizing: border-box;
    padding: 15px 15px;
}


#feedScrollContent div {
    width: 100%;
    height: auto;
    background-color:#f3a1257e;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 20px 0 20px 0;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#feedScrollContent div span {
    position: relative;
    width: 100%;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px;
}

input#feedNewPost {
    width: 93%;
    height: 50px;
    background-color: #ffffff45;
    border-radius: 8px;
    border: none;
    margin: 10px 10px;
    padding: 10px 10px;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.newPost {
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Arial';
    color: #CD3B32;
    display: flex;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 0;
}

.botones {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* justify-content: space-around; */
}

#publish,
#cancel {
    /* margin:5px 5px; */
    width: 45%;
    border-radius: 7px;
    background-color: #CD3B32;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    color: aliceblue;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

#publish:hover,
#cancel:hover {
    background-color: #9e2721;
}

#feedNewPost::placeholder {
    font-size: 16px;
    font-weight: lighter;
}

div#randomImages {
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid 5px #010101;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

#adoptionLetter {
    width: 40%;
   /*  font-family: 'Indie Flower', cursive; */
    font-weight: bolder;
    font-size: 25px;
    color: #CD3B32;
    text-align: center;
    margin: 20px 40px 20px 40px;
    display: flex;
    align-items: center;
}

.randomAbeja {
    width: 20%;
    padding: 10px 0;
}

img#randomAbeja {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.randomDog {
    width: 40%;
    display: flex;
    justify-content: center;
}

img#randomDog {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 1;
}

#feedScrollContent {
    width: 90%;
    height: auto;
    background-color:antiquewhite;
    margin: 10px 0 10px 0;
    border-radius: 8px;
}

section#likeEditDelete {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:end;
}



span.material-symbols-like,
span.material-symbols-edit,
span.material-symbols-delete,
span.material-symbols-save,
span.material-symbols-cancel {
    color: rgb(0, 0, 0);
    font-family: 'Material Symbols Outlined', sans-serif;
    border-radius: 8px;
    background-color: #fafafa1f;
    font-size: 20px !important;
    max-width: 65px !important;
    height: 100%;
    padding: 5px 5px !important;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}




span.material-symbols-count {
    padding: 10px 2px !important;
}

span.material-symbols-like.liked {
    margin: none !important;
    background-color: rgb(172, 11, 11) !important;
}




span.material-symbols-like:hover,
span.material-symbols-edit:hover,
span.material-symbols-delete:hover,
span.material-symbols-save:hover,
span.material-symbols-cancel:hover {
    background-color: #f39f25;
}

#feedScrollContent p {
    position: absolute;
    background-color:#f3a12500;
    width: 95%;
    height: auto;
    font-size: 12px;
    text-align: end;
    padding: 0;
    margin: 2px 10px 10px 10px;   
}

div#modalEliminar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-size: 12px;
    text-align: center;
  }

  #cancelarEliminar,
  #aceptarEliminar {
    margin:5px 5px;
    border-radius: 7px;
    background-color: #CD3B32;
    border: none;
    padding: 5px 5px;
    font-size: 12px;
    color: aliceblue;
  }
}

@media only screen and (max-width: 281px){
    #feedLogoContent {
        width: 10%;
    }
    
    img#feedLogo {
        width: 70px;
        height: 50px;
    }
    
    #feedHeader {
        height: 50px;
    }
   
    .randomAbeja {
        display: none;
    }
    
    img#randomAbeja {
        display: none;  
    }

    span.material-symbols-outlined {
        font-size: 30px;
    }

    #feedProfileImageContent {
        width: 30%;
    }
}

@media only screen and (max-width: 767px){
    #feedProfile {
        min-height: 60px;
    }
    span.material-symbols-menu {
        padding: 1px; 
        font-size: 25px;
    }

    #feedProfileImageContent {
        width: 90%;
    }

    #feedNameProfile {
        margin: 10px 10px;
        font-size: 16px;
    }

    #feedWelcome {
        font-size: 12px;
    }

    #feedIntroduction {
        font-size: 12px;
    }

    .feedNameLogo {
        font-size: 16px;
    }

    div#randomImages {
        height: 105px;
    }
    
    #adoptionLetter {
        font-size: 16px;
        margin: 10px 20px 10px 20px;
    }
    
    .randomAbeja {
        padding: 15px;
    }
    
    img#randomAbeja {
        height: 60px;
        
    }
    
    img#randomDog {
        height: 160px;
    }

    section#newPost {
        width: 95%;
    }
    
    input#feedNewPost {
        width: 90%;
    }
    
    .newPost {
        font-size: 12px;
    }
    
    .botones {
        width: 90%;
    }
    
    #feedcategory,
    #publish,
    #cancel {
        margin:3px 3px;
        font-size: 10px;
    }

    #feedScrollContent {
        width: 90%;
        margin: 0;
        border-radius: 8px;
    }

    #feedNewPost::placeholder {
        font-size: 12px;
        font-weight: lighter;
    }

    div#modalEliminar {
        padding: 10px;
      }

      #feedScrollContent p {
        font-size: 12px;   
     }

     #feedScrollContent div span {
        font-size: 14px;
     }

     span.material-symbols-like,
span.material-symbols-edit,
span.material-symbols-delete {
    font-size: 16px;
}

span.material-symbols-outlined {
    font-size: 25px;
}
}

@media only screen and (max-width: 480px) {
    #feedAllContent {
        flex-direction: column;
    }

    #feedAside {
        width: 100%;
        height: 100%;
    }

    #feedScroll {
        width: 100%;
    }

    #feedIntroduction {
        display: none;
    }

    #feedProfile {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
    #feedProfileImageContent {
        width: 20%;
    }

    #feedNameProfile {
        margin: 10px 10px;
        font-size: 16px;
    }

    #feedWelcome {
        display: none;
    }

    #feedMenu {
        padding: 1px 0 1px 0;
        margin: 1px 0 1px 0;
    }

    span.material-symbols-menu {
        padding: 1px; 
    }

    #feedLogoContent {
        width: 30%;
    }

    div#randomImages {
        height: 105px;
    }
    
    #adoptionLetter {
        font-size: 16px;
        margin: 10px 20px 10px 20px;
    }
    
    .randomAbeja {
        padding: 15px;
    }
    
    img#randomAbeja {
        height: 60px;
        
    }
    
    img#randomDog {
        height: 160px;
    }

    section#newPost {
        width: 100%;
    }
    
    input#feedNewPost {
        width: 90%;
    }
    
    .newPost {
        font-size: 12px;
    }
    
    .botones {
        width: 90%;
    }
    
    #feedcategory,
    #publish,
    #cancel {
        margin:3px 3px;
        font-size: 10px;
    }

    #feedScrollContent {
        width: 100%;
        margin: 0;
        border-radius: 8px;
    }

    #feedNewPost::placeholder {
        font-size: 12px;
        font-weight: lighter;
    }

    div#modalEliminar {
        padding: 10px;
      }

      #feedScrollContent p {
       font-size: 12px;   
    }

    span.material-symbols-like,
span.material-symbols-edit,
span.material-symbols-delete {
    font-size: 30px;
  
}

span.material-symbols-outlined {
    font-size: 25px;
}
}



/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  Register                                  */
/* -------------------------------------------------------------------------- */



section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(img/image-huella-naranja.png);*/
}
.contenedor-crear-cuenta{
    width: 800px;
    height: 100%;
    min-height: 550px;
    display: flex;
    padding: 80px;
}

.formulario-cuenta{
    max-width: 400px;
    display: flex;
    flex-direction: column;
background-color: #fff;
text-align: center;
padding: 3em;
box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
border-radius: 0px 20px 20px 0px;
}

.logo-cuenta{
    max-width: 400px;
padding: 1em;
text-align: center;
/* background: rgba(243, 237, 206, 0.33); */
background: #FFA500;
box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
border-radius: 20px 0px 0px 20px;
}
.marca{
    max-width: 300px;
}

.ingresa {
    position: relative;
    display: inline-block;
    padding-right: 30px; /* Ajusta el valor según sea necesario */
    border: none;
    border-bottom: 1px solid #B8B8B8;
    outline: none;
    font-size: medium;
    margin-top: 5%;
}


.ingresa input {
    padding-right: 30px; /* Ajusta el valor según sea necesario */
    border: none;
    border-bottom: 1px solid #B8B8B8;
    outline: none;
    font-size: medium;
}



#Crearcuenta {
mix-blend-mode: normal;
border-radius: 50px;
width: 180px;
height: 50px;
font-size: medium;
border: #CD3B32 solid 1px;
background-color: #CD3B32;
color: #ffffff;
margin-top: 30px;
margin-left: 10%;
margin-bottom: 30px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Crearcuenta:hover {
    background-color: #9e2721;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

#Google {
    height: 60px;
    width: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 30px;
    margin-left: 40%;
}

#Google:hover {
    cursor: pointer;
    
}

.text-title{
    padding-bottom: 25px ;
}

#bienvenido {
    margin-top: 40px;
}

h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#distintas-contrasenas {
    font-size: large;
    color: #000000;
    font-weight: 700;
   
}

.imgResponsive{
    display: none;
}

@media only screen and (max-width: 800px) {
    .logo-cuenta {
      display: none;
    }
    .formulario-cuenta {
       
        border-radius: 20px 20px 20px 20px;
    }
    .imgResponsive{
        display:block;
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
      

       }
    .text-title{
        padding-bottom: 0px !important;    }
  }


