@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@500&display=swap');
body{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    background-color: #fafafa;
}
.fondo-naranja {
    background-color: #F39F25;
}
/* --------------------- Definicion de tamaños de letrs --------------------- */
.text-small {
    font-size: small;
}
.text-medium {
    font-size: medium;
}
.text-large{
    font-size: larger;
}
.text-title{
        color: #333333;
        font-size: 25px;
        font-weight: 500;
        margin: 5px;
    
}
.text-color-white{
color: #ffffff;
}
.text-color-orange{
    color: #FFA500;
}

.manita{
    cursor: pointer;
}




/* -------------------------------------------------------------------------- */
/*                                Clases Login                                */
/* -------------------------------------------------------------------------- */
.l-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.l-container{
    height: 100%;
    display: flex;
    padding: 80px;
}

.l-container-login{
    max-width: 400px;
    display: flex;
    flex-direction: column;
background-color: #fff;
text-align: center;
padding: 3em;
box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px 0px 0px 20px;
gap: 0.5em;
}

.l-container-informacion{
    max-width: 400px;
padding: 1em;
text-align: center;
/* background: rgba(243, 237, 206, 0.33); */
background: #FFA500;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
border-radius: 0px 20px 20px 0px;
}
img{
    max-width: 300px;
}

.l-input-with-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}

.l-input-with-icon i {
    position: absolute;
    right: 5px; /* Ajusta el valor según sea necesario */
    top: 50%;
    transform: translateY(-50%);
}

.l-input-with-icon input {
    padding-right: 30px; /* Ajusta el valor según sea necesario */
    border: none;
    border-bottom: 1px solid #B8B8B8;
    outline: none;
    font-size: medium;
}


.l-titulo-info{
    color: #fff;
}
.l-button-login{
mix-blend-mode: normal;
border-radius: 50px;
width: 180px;
height: 50px;
left: 115px;
top: 579px;

font-size: medium;
border: #FFA500 solid 1px;
    background-color: #FFFFFF;
    color: #FFA500;

}

.l-button-login:hover {
    background-color: #FFA500;

    border: none;
 color: #FFFFFF;
    cursor: pointer;
}


/* -------------------------------------------------------------------------- */
/*                                Clases feed                                */

/* -------------------------------------------------------------------------- */




@media only screen and (min-width: 20px) {
#pageAllContent {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

#feedHeader {
    width: 100%;
    height: 50px;
    background-color: #f39f25;
    border-top: 3px solid #f39f25;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid #CD3B32;
}

#feedLogoContent {
    width: 10%;
}

img#feedLogo {
    width: 80%;
    height: 100%;
    background: cover;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    filter: brightness(100%);
    padding:0 10px;
}

nav#feedGeneralSearch {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

#searchContent {
    width: 15%;
    height: 100%;
    background-color: #CD3B32;
    border: 1px solid #CD3B32;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input#inputSearch {
    width: 85%;
    height: 100%;
    background-color: rgba(255, 235, 205, 0.797);
    border-radius: 4px 0 0 4px;
    border: none;
}

span.material-symbols-search {
    color: aliceblue;
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 20px;
}

span.material-symbols-outlined {
    padding: 5px;
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    filter: brightness(100%); 
}

#feedAllContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#feedAside {
    width: 25%;
    height: 2000px;
    background-color: antiquewhite;
    margin: 0 10px 10px 0;
    border-radius: 0 5px 5px 5px;
    display: flex;
    flex-direction: column;
}

#feedMenu {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: end;
    padding: 5px 0 5px 0;
    margin: 5px 0 10px 0;
}

span.material-symbols-menu {
    padding: 5px; 
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 30px;
    color: #CD3B32; 
}

#feedProfile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#feedProfileImageContent {
    width: 80%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;  
}

#feedProfileImage {
   width: 100%;
   height: 100%;
    object-fit: cover;
    object-position: center;
}

.feedNameLogo {
    color: #CD3B32;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#feedIntroduction {
    width: 75%;
    height: auto;
    text-align: center;
    margin: 10px 10px;
}

#feedScroll {
    width: 75%;
    height: 2000px;
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 0 5px 5px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section#newPost {
    width: 90%;
    height: auto;
    background-color:#f3a1257e;
    border-radius: 8px;
    margin: 10px 0 10px 0;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input#feedNewPost {
    width: 95%;
    height: 50px;
    background-color: #cd6d3245;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.newPost {
    font-size: 16px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #CD3B32;
    display: flex;
    align-items: end;
    margin: 0;
}

.botones {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}

#feedcategory,
#publish,
#cancel {
    margin:5px 5px;
    border-radius: 7px;
    background-color: #CD3B32;
    border: none;
    padding: 5px 5px;
    font-size: 14px;
    color: aliceblue;
}

#feedNewPost::placeholder {
    font-size: 16px;
    font-weight: lighter;
}

div#randomImages {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid 5px #010101;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#adoptionLetter {
    width: 40%;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 25px;
    color: #CD3B32;
    text-align: center;
    margin: 20px 40px 20px 40px;
    display: flex;
    align-items: center;
}

.randomAbeja {
    width: 20%;
    padding: 10px 0;
}

img#randomAbeja {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.randomDog {
    width: 40%;
    display: flex;
    justify-content: center;
}

img#randomDog {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 1;
}

#feedScrollContent {
    width: 90%;
    height: auto;
    background-color:antiquewhite;
    margin: 10px 0 10px 0;
    border-radius: 8px;
}

div#likeEditDelete {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 10px;
}

span.material-symbols-like,
span.material-symbols-edit,
span.material-symbols-delete {
    color: rgb(0, 0, 0);
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#feedScrollContent p {
    background-color:#f3a1256d;
    width: 97%;
    min-height:50px ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    margin: 10px 0 10 px 0;   
}

div#modalEliminar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-size: 12px;
    text-align: center;
  }

  #cancelarEliminar,
  #aceptarEliminar {
    margin:5px 5px;
    border-radius: 7px;
    background-color: #CD3B32;
    border: none;
    padding: 5px 5px;
    font-size: 12px;
    color: aliceblue;
  }
}

@media only screen and (max-width: 281px){
    .randomAbeja {
        display: none;
    }
    
    img#randomAbeja {
        display: none;  
    }

    span.material-symbols-outlined {
        font-size: 18px;
    }

    #feedProfileImageContent {
        width: 30%;
    }
}

@media only screen and (max-width: 768px){
    span.material-symbols-menu {
        padding: 1px; 
        font-size: 20px;
    }

    #feedProfileImageContent {
        width: 60%;
    }

    #feedNameProfile {
        margin: 10px 10px;
        font-size: 12px;
    }

    #feedWelcome {
        font-size: 12px;
    }

    #feedIntroduction {
        font-size: 12px;
    }

    .feedNameLogo {
        font-size: 16px;
    }

    div#randomImages {
        height: 105px;
    }
    
    #adoptionLetter {
        font-size: 16px;
        margin: 10px 20px 10px 20px;
    }
    
    .randomAbeja {
        padding: 15px;
    }
    
    img#randomAbeja {
        height: 60px;
        
    }
    
    img#randomDog {
        height: 160px;
    }

    section#newPost {
        width: 90%;
    }
    
    input#feedNewPost {
        width: 100%;
    }
    
    .newPost {
        font-size: 12px;
    }
    
    .botones {
        width: 90%;
    }
    
    #feedcategory,
    #publish,
    #cancel {
        margin:3px 3px;
        font-size: 10px;
    }

    #feedScrollContent {
        width: 90%;
        margin: 0;
        border-radius: 8px;
    }

    #feedNewPost::placeholder {
        font-size: 12px;
        font-weight: lighter;
    }

    div#modalEliminar {
        padding: 10px;
      }

      #feedScrollContent p {
        font-size: 14px;   
     }

     span.material-symbols-like,
span.material-symbols-edit,
span.material-symbols-delete {
    font-size: 16px;
}

span.material-symbols-outlined {
    font-size: 20px;
}
}

@media only screen and (max-width: 480px) {
    #feedAllContent {
        flex-direction: column;
    }

    #feedAside {
        width: 100%;
        height: 100%;
    }

    #feedScroll {
        width: 100%;
    }

    #feedIntroduction {
        display: none;
    }

    #feedProfile {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
    #feedProfileImageContent {
        width: 20%;
    }

    #feedNameProfile {
        margin: 10px 10px;
        font-size: 16px;
    }

    #feedWelcome {
        display: none;
    }

    #feedMenu {
        padding: 1px 0 1px 0;
        margin: 1px 0 1px 0;
    }

    span.material-symbols-menu {
        padding: 1px; 
    }

    #feedLogoContent {
        width: 30%;
    }

    div#randomImages {
        height: 105px;
    }
    
    #adoptionLetter {
        font-size: 16px;
        margin: 10px 20px 10px 20px;
    }
    
    .randomAbeja {
        padding: 15px;
    }
    
    img#randomAbeja {
        height: 60px;
        
    }
    
    img#randomDog {
        height: 160px;
    }

    section#newPost {
        width: 100%;
    }
    
    input#feedNewPost {
        width: 90%;
    }
    
    .newPost {
        font-size: 12px;
    }
    
    .botones {
        width: 90%;
    }
    
    #feedcategory,
    #publish,
    #cancel {
        margin:3px 3px;
        font-size: 10px;
    }

    #feedScrollContent {
        width: 100%;
        margin: 0;
        border-radius: 8px;
    }

    #feedNewPost::placeholder {
        font-size: 12px;
        font-weight: lighter;
    }

    div#modalEliminar {
        padding: 10px;
      }

      #feedScrollContent p {
       font-size: 12px;   
    }

    span.material-symbols-like,
span.material-symbols-edit,
span.material-symbols-delete {
    font-size: 16px;
  
}

span.material-symbols-outlined {
    font-size: 20px;
}
}



/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  Register                                  */
/* -------------------------------------------------------------------------- */
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-crear-cuenta{
    height: 100%;
    display: flex;
    padding: 80px;
}

.formulario-cuenta{
    max-width: 400px;
    display: flex;
    flex-direction: column;
background-color: #fff;
text-align: center;
padding: 3em;
box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 20px 20px 0px;
}

.logo-cuenta{
    max-width: 400px;
padding: 1em;
text-align: center;
/* background: rgba(243, 237, 206, 0.33); */
background: #FFA500;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
border-radius: 20px 0px 0px 20px;
}
.marca{
    max-width: 300px;
}

.ingresa {
    position: relative;
    display: inline-block;
    padding-right: 30px; /* Ajusta el valor según sea necesario */
    border: none;
    border-bottom: 1px solid #B8B8B8;
    outline: none;
    font-size: medium;
    margin-top: 3%;
}


.ingresa input {
    padding-right: 30px; /* Ajusta el valor según sea necesario */
    border: none;
    border-bottom: 1px solid #B8B8B8;
    outline: none;
    font-size: medium;
}



#Crearcuenta {
mix-blend-mode: normal;
border-radius: 50px;
width: 180px;
height: 50px;
font-size: medium;
border: #CD3B32 solid 1px;
background-color: #FFFFFF;
color: #CD3B32;
margin-top: 30px;
margin-left: 20%;
margin-bottom: 30px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Crearcuenta:hover {
    background-color: #CD3B32;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

#Google {
    height: 60px;
    width: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 30px;
    margin-left: 40%;
}

#Google:hover {
    cursor: pointer;
    
}

.text-title{
    padding-bottom: 25px ;
}

#bienvenido {
    margin-top: 40px;
}

h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#distintas-contrasenas {
    font-size: large;
    color: #000000;
    font-weight: 700;
   
}

